In [8]:
import pandas as pd

In [9]:
#df = pd.read_csv('Citi_Bike.csv', error_bad_lines = False)

In [10]:
citi201708_data = pd.read_csv("Citi_Data/JC-201708 citibike-tripdata.csv", error_bad_lines=False)
citi201709_data = pd.read_csv("Citi_Data/JC-201709-citibike-tripdata.csv", error_bad_lines=False)
citi201710_data = pd.read_csv("Citi_Data/JC-201710-citibike-tripdata.csv", error_bad_lines=False)
citi201711_data = pd.read_csv("Citi_Data/JC-201711-citibike-tripdata.csv", error_bad_lines=False)
citi201712_data = pd.read_csv("Citi_Data/JC-201712-citibike-tripdata.csv", error_bad_lines=False)
citi201801_data = pd.read_csv("Citi_Data/JC-201801-citibike-tripdata.csv", error_bad_lines=False)
citi201802_data = pd.read_csv("Citi_Data/JC-201802-citibike-tripdata.csv", error_bad_lines=False)
citi201803_data = pd.read_csv("Citi_Data/JC-201803-citibike-tripdata.csv", error_bad_lines=False)
citi201804_data = pd.read_csv("Citi_Data/JC-201804-citibike-tripdata.csv", error_bad_lines=False)
citi201805_data = pd.read_csv("Citi_Data/JC-201805-citibike-tripdata.csv", error_bad_lines=False)
citi201806_data = pd.read_csv("Citi_Data/JC-201806-citibike-tripdata.csv", error_bad_lines=False)
citi201807_data = pd.read_csv("Citi_Data/JC-201807-citibike-tripdata.csv", error_bad_lines=False)
citi201808_data = pd.read_csv("Citi_Data/JC-201808-citibike-tripdata.csv", error_bad_lines=False)

In [11]:
citi_frames = [citi201708_data, citi201709_data, citi201710_data, citi201711_data, citi201712_data, citi201801_data, citi201802_data, citi201803_data, citi201804_data, citi201805_data, citi201806_data, citi201807_data, citi201808_data]
citi_result = pd.concat(citi_frames)
citi_result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1314,2017-08-01 00:03:05,2017-08-01 00:24:59,3187,Warren St,40.721124,-74.038051,3210,Pershing Field,40.742677,-74.051789,26293,Subscriber,1968.0,1
1,221,2017-08-01 00:06:25,2017-08-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,26314,Subscriber,1968.0,2
2,185,2017-08-01 00:42:28,2017-08-01 00:45:33,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,26196,Subscriber,1972.0,1
3,72,2017-08-01 00:45:06,2017-08-01 00:46:18,3269,Brunswick & 6th,40.726012,-74.050389,3209,Brunswick St,40.724176,-74.050656,29521,Subscriber,1996.0,1
4,499,2017-08-01 01:12:10,2017-08-01 01:20:30,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29634,Subscriber,1984.0,1

In [12]:
citi_result.to_csv('Citi_Total_data.csv')